body{
    margin: 10px 0px 0px 20px ;
}
.flexbox{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
h1{
    font-family: fantasy;
     font-size: 3em;
     border-bottom: 2px solid pink;
     border-right: 2px solid pink;
     width: 350px;
     text-align: center;
     box-shadow: 2px 3px 2px royalblue;
}
img{
    width: 410px;
    height: 300px;
     margin: 10px;
     transition: all 1s;
}
img:hover{
    transform: scale(1.1);
  
}